@use "sass:color";

@import'base/settings';
@import 'base/core';
@import 'components/body';
@import 'components/header';
@import 'components/footer';


section {
    margin: 15vh 0 20vh;

    h2 {
        position: relative;
        font-size: 2.25rem;
        padding-bottom: .75rem;
        color: darken($color: coral, $amount: 5%);

        &::after {
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;
            width: 30%;
            height: .35rem;
            background-color: lighten($color: coral, $amount: 20%);

        }
    }
}

.old-school-layout {
    @include border-radius(.5rem);
    background-color: $header-color-dark;
    margin: 3.5rem 0;
    padding: 2.5%;

    .clearfix {
        clear: both;
        height: 0;
    }

    .item {
        display: block;
        float: left;
        padding: 3.5% 2.5%;
        width: 28.33%;
        background-color: #d8d8d8;

        .header {
            display: block;
            position: relative;
            font-size: 2.25rem;
            line-height: 1.75;
            font-weight: 600;
            color: lighten($color: #000, $amount: 25%);

            &::after {
                display: block;
                position: absolute;
                content: '';
                left: 0;
                bottom: 0;
                width: 6.25rem;
                height: .325rem;
                background-color: lighten($color: red, $amount: 35%);
            }
        }

        .text {
            display: block;
            font-size: .9rem;
            margin: 10% 0;


            &::selection {
                background-color: #999999;
                color: red;
            }
        }

        &:nth-child(odd){
            background-color: #ffffff;
        }

        &:nth-last-child(1){
            clear: right;
        }
    }

}


.flexbox-layout {
    display: flex;
    flex-flow: row wrap;
    margin: 3.5rem 0;
    padding: 2.5%;
    background-color: #565656;
    @include border-radius(.5rem);

    .item {
        flex: 1 1 28%;
        height: 15rem;
        overflow: hidden;
        padding: 3.5% 2.5%;
        overflow: hidden;
        background-color: #d8d8d8;

        .header {
            display: block;
            position: relative;
            font-size: 2.25rem;
            line-height: 1.75;
            font-weight: 600;
            color: lighten($color: #000, $amount: 25%);

            &::after {
                display: block;
                position: absolute;
                content: '';
                left: 0;
                bottom: 0;
                width: 6.25rem;
                height: .325rem;
                background-color: lighten($color: red, $amount: 35%);
            }
        }

        .text {
            display: block;
            margin: 10% 0;
            font-size: .9rem;


            &::selection {
                background-color: #999999;
                color: red;
            }
        }

        &:nth-child(odd){
            background-color: lighten($color: #d8d8d8, $amount: 7.5%);
        }

    }
}
