@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Crimson+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,531;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,531;1,600;1,700;1,800;1,900&family=Architects+Daughter&EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.row {
  overflow: hidden; }

* {
  margin: 0;
  padding: 0;
  position: relative; }

html {
  min-height: 100%;
  font-size: 20px; }

body {
  z-index: 0;
  background-color: #FFFBE6;
  color: #fffaf0;
  font-family: "Mulish", sans-serif;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  display: block;
  position: relative;
  margin: 0; }

h1 {
  font-family: "EB Garamond", serif;
  font-size: 6.55rem;
  line-height: 1.2;
  font-weight: 700; }

h2 {
  font-family: "Mulish", sans-serif;
  font-size: 4.1rem; }

h3 {
  font-family: "EB Garamond", serif;
  font-size: 2.56rem; }

h4 {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem; }

h5 {
  font-family: "EB Garamond", serif;
  font-size: 1rem; }

p {
  font-size: 1.4rem;
  line-height: 1.85rem;
  margin-bottom: 1.5rem; }

a {
  cursor: pointer;
  color: inherit; }

section {
  padding: 4.5rem 0; }

.jumbotron {
  margin: 0px auto;
  border-radius: 0; }

.container {
  width: 66%; }

#header {
  background-image: url("../_img/header-v2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed; }
  #header .title {
    margin-top: 3rem;
    font-family: "Architects Daughter", cursive;
    font-weight: 700;
    background-color: rgba(255, 251, 230, 0.75);
    font-size: 5rem;
    letter-spacing: .1em;
    color: #48260D; }
  #header .subtitle {
    margin-bottom: 3rem;
    font-family: "Arvo", serif;
    background-color: #7B7F15;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: #f891dd; }

#about {
  background-color: #C1C7D4;
  min-height: 15rem; }
  #about .title {
    color: #FFF9DD; }
  #about .title::after {
    background-color: #FFF9DD;
    bottom: 0;
    content: '';
    display: block;
    height: .175rem;
    position: absolute;
    left: .85rem;
    width: 6.25rem;
    opacity: 0.35; }

#skills {
  background-color: #85788C;
  min-height: 15rem; }
  #skills .title {
    color: #FFF9DD; }
  #skills .title::after {
    background-color: #FFF9DD;
    bottom: 0;
    content: '';
    display: block;
    height: .175rem;
    position: absolute;
    left: .85rem;
    width: 6.25rem;
    opacity: 0.35; }
  #skills .skills .item .name {
    display: block;
    width: 100%;
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    font-size: 1.75rem;
    color: #f7aee4; }
  #skills .skills .item .info {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    line-height: 1.85rem; }

#experience {
  background-color: #997950;
  min-height: 15rem; }
  #experience .title {
    color: #FFF9DD; }
  #experience .title::after {
    background-color: #FFF9DD;
    bottom: 0;
    content: '';
    display: block;
    height: .175rem;
    position: absolute;
    left: .85rem;
    width: 6.25rem;
    opacity: 0.35; }

#interests {
  background-color: #b3bd64;
  min-height: 15rem; }
  #interests .title {
    color: #FFF9DD; }
  #interests .title::after {
    background-color: #FFF9DD;
    bottom: 0;
    content: '';
    display: block;
    height: .175rem;
    position: absolute;
    left: .85rem;
    width: 6.25rem;
    opacity: 0.35; }
  #interests .interests .item {
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.85rem; }

#me {
  height: 60vh;
  position: relative;
  overflow: hidden; }

#contact {
  background-color: #9B9887;
  min-height: 22.5rem;
  color: #FFF9DD; }
  #contact .title::after {
    background-color: #FFF9DD;
    bottom: 0;
    content: '';
    display: block;
    height: .175rem;
    position: absolute;
    left: .85rem;
    width: 6.25rem;
    opacity: 0.35; }
  #contact .form-control {
    border: 0.15rem solid #FFFBE6; }
  #contact .form-control.is-invalid, #contact .was-validated .form-control:invalid {
    border-color: #f768d1;
    border-width: .15rem;
    color: #f768d1; }
  #contact .invalid-feedback {
    font-size: 1rem;
    color: #f7aee4; }

#footer {
  background-color: #48260D;
  min-height: 7.5rem;
  color: #f2f2f2; }
  #footer a {
    color: #fffaf0; }

.btn-up {
  position: fixed;
  z-index: 1000;
  bottom: 1.5rem;
  right: 1.5rem;
  border-radius: 50%;
  background-color: rgba(255, 249, 221, 0.5);
  width: 3.6rem;
  height: 3.6rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 50% 50%;
  transition: background-color .3s;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3e%3c/svg%3e"); }

.btn-up:hover,
.btn-up:focus {
  background-color: rgba(248, 145, 221, 0.5); }

/* Extra small devices (portrait phones, more than 360px) */
@media (max-width: 559px) {
  html {
    font-size: 12px; }
  #header .title {
    font-size: 4rem; }
  #header .subtitle {
    font-size: 1.5rem; }
  .container {
    width: 85%; } }

/* Small devices (landscape phones, 768px and up) */
@media (min-width: 560px) and (max-width: 767px) {
  html {
    font-size: 14px; }
  #header .title {
    font-size: 4.5rem; }
  #header .subtitle {
    font-size: 1.65rem; }
  .container {
    width: 80%; } }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 16px; }
  .container {
    width: 75%; }
  #header .title {
    margin-top: 3rem;
    font-size: 5rem; }
  #header .subtitle {
    font-size: 1.5rem; } }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 20px; }
  .container {
    width: 75%; } }

/* Extra large devices (large desktops, 1200px and up) */
