// Google fonts -> OpenSans, Open Sans Condenced, Lato, Raleway, Arno & Crimmson Pro
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Crimson+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,531;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,531;1,600;1,700;1,800;1,900&family=Architects+Daughter&EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


// Colors
$very-lt-taupe: #FFFBE6;
$lt-taupe: #FFF9DD;
$med-taupe: #FFFBE6;
$dark-taupe: #D2CDB2;
$very-dark-taupe: #9B9887;


$very-lt-violet: #F6E6FE;
$lt-violet: #EDD9F8;
$med-violet: #CDC0D4;
$dark-violet: #85788C;
$very-dark-violet: #635B68;


$very-lt-gray: #E7EEFE;
$lt-gray: #DBE4F8;
$med-gray: #C1C7D4;
$dark-gray: #797F8D;
$very-dark-gray: #5C5F68;


$very-lt-yell-green: #FAFDA9;
$lt-yell-green: #CFD369;
$med-yell-green: #b3bd64;
$dark-yell-green: #7B7F15;
$very-dark-yell-green: #515400;


$very-lt-purple: #e0c9eb;
$lt-purple: #794A8D;
$med-purple: #5B2971;
$dark-purple: #401155;
$very-dark-purple: #280339;


$very-lt-fuchsia: #f7aee4;
$lt-fuchsia: #f891dd;
$med-fuchsia: #f768d1;
$dark-fuchsia: #bd2a96;
$very-dark-fuchsia: #9b1577;


// Fonts
$font-color-dark: #3B270C;
$font-color-medium: #5B5B5B;
$font-color-light: #f2f2f2;
$font-color-white: #f9f9f9;
$font-color-beige: #F5F5DC;
$font-color-floralwhite: #fffaf0;
$font-color-info: #280339;
$font-color-pecan: #48260D;
$font-color-caramel: #997950;
$font-color-espresso: #4B382A;

$font-helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-roboto-slab: 'Roboto Slab', serif;
$font-open-sans: 'Open Sans', sans-serif;
$font-open-sans-condenced: 'Open Sans Condensed', sans-serif;
$font-lato: "Lato", sans-serif;
$font-raleway: "Raleway", sans-serif;
$font-arvo: "Arvo", serif;
$font-crimson-pro: "Crimson Pro", serif;
$font-architects-daught: 'Architects Daughter', cursive;
$font-eb-garamond: 'EB Garamond', serif;
$font-mulish: 'Mulish', sans-serif;
$font-size: 20px;

@mixin title-after(){
    bottom: 0;
    content: '';
    display: block;
    height: .175rem;
    position: absolute;
    left: .85rem;
    width: 6.25rem;
    opacity: 0.35;
}


// Heights
$container-min-height: 15rem;
.row {
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    position: relative;
}

html {
    min-height: 100%;
    font-size: $font-size;
}

body {
    z-index: 0;
    background-color: $very-lt-taupe;
    color: $font-color-floralwhite;
    font-family: $font-mulish;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    display: block;
    position: relative;
    margin: 0;
}

h1 {
    font-family: $font-eb-garamond;
    font-size: 6.55rem;
    line-height: 1.2;
    font-weight: 700;
}

h2 {
    font-family: $font-mulish;
    font-size: 4.1rem;
}

h3{
    font-family: $font-eb-garamond;
    font-size: 2.56rem;
}

h4{
    font-family: $font-lato;
    font-size: 1.6rem;
}

h5{
    font-family: $font-eb-garamond;
    font-size: 1rem;
}

p{
    font-size: 1.4rem;
    line-height: 1.85rem;
    margin-bottom: 1.5rem;
}

a {
    cursor: pointer;
    color: inherit;
}

section {
    padding: 4.5rem 0;
}

.jumbotron {
    margin: 0px auto; 
    border-radius: 0;
}

.container {
    width: 66%;
}


#header {
    background-image: url('../_img/header-v2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    .title {
        margin-top: 3rem;
        font-family: $font-architects-daught;
        font-weight: 700;
        background-color: rgba(255, 251, 230, 0.75);
        font-size: 5rem;
        letter-spacing: .1em;
        color: $font-color-pecan;
    }
    .subtitle {
        margin-bottom: 3rem;
        font-family: $font-arvo;
        background-color: $dark-yell-green;
        font-size: 1.5rem;
        line-height: 2.2rem;
        // color: $font-color-floralwhite;
        color: $lt-fuchsia;
    }
}

#about {
    background-color: $med-gray;
    min-height: $container-min-height;
    .title {
        color: $lt-taupe;
    }
    .title::after {
        background-color: $lt-taupe; 
        @include title-after();
    }
}

#skills {
    background-color: $dark-violet;
    min-height: $container-min-height;
    .title {
        color: $lt-taupe;
    }
    .title::after {
        background-color: $lt-taupe; 
        @include title-after();
    }
    .skills {
        .item {
            .name {
                display: block;
                width: 100%;
                font-family: $font-mulish;
                font-weight: 600;
                font-size: 1.75rem;
                color: $very-lt-fuchsia;
            }
            .info {
                display: block;
                width: 100%;
                font-size: 1.125rem;
                line-height: 1.85rem;
    
            }

        }
    }
}

#experience {
    background-color: $font-color-caramel;
    min-height: $container-min-height;
    .title {
        color: $lt-taupe;
    }
    .title::after {
        background-color: $lt-taupe; 
        @include title-after();
    }
}

#interests {
    background-color: $med-yell-green;
    min-height: $container-min-height;
    .title {
        color: $lt-taupe;
    }
    .title::after {
        background-color: $lt-taupe; 
        @include title-after();
    }
    .interests {
        .item {
            width: 100%;
            font-size: 1.4rem;
            line-height: 1.85rem;
        }
    }

}

#me { 
    height: 60vh;
    position: relative;
    overflow: hidden;
} 


#contact {
    background-color: $very-dark-taupe;
    min-height: $container-min-height*1.5;
    color: $lt-taupe;
    .title::after {
        background-color: $lt-taupe; 
        @include title-after();
    }
    .form-control {
        border: 0.15rem solid $med-taupe;
    }
    .form-control.is-invalid, .was-validated .form-control:invalid {
        border-color: $med-fuchsia;
        border-width: .15rem;
        color: $med-fuchsia;
    }
    .invalid-feedback {
        font-size: 1rem;
        color: $very-lt-fuchsia;
    }
}

#footer {
    background-color: $font-color-pecan;
    min-height: $container-min-height*0.5    ;
    color: $font-color-light;
    a {
        color: $font-color-floralwhite;
    }
}

.btn-up {
    position: fixed;
    z-index: 1000;
    bottom: 1.5rem;
    right: 1.5rem;
    border-radius: 50%;
    background-color: rgba($color: $lt-taupe, $alpha: .5);
    width: 3.6rem;
    height: 3.6rem;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50% 50%;
    transition: background-color .3s;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3e%3c/svg%3e");
}

.btn-up:hover,
.btn-up:focus {
    background-color: rgba($color: $lt-fuchsia, $alpha: .5);
}







 /* Extra small devices (portrait phones, more than 360px) */
 @media (max-width: 559px) { 
    html {
        font-size: 12px;
    }
        
    #header {
        .title {
            font-size: 4rem;
        }
        .subtitle {
            font-size: 1.5rem;
        }
    }

    .container {
        width: 85%;
    }

 }


/* Small devices (landscape phones, 768px and up) */
@media (min-width: 560px) and (max-width: 767px) { 
    html {
        font-size: 14px;
    }
        
    #header {
        .title {
            font-size: 4.5rem;
        }
        .subtitle {
            font-size: 1.65rem;
        }
    }

    .container {
        width: 80%;
    }

}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 
    html {
        font-size: 16px;
    }

    .container {
        width: 75%;
    }

    #header {
        .title {
            margin-top: 3rem;
            font-size: 5rem;
        }
        .subtitle {
            font-size: 1.5rem;
        }
    }
    
 }


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px){ 
    html {
        font-size: 20px;
    }

    .container {
        width: 75%;
    }

}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px){ 

}

