header {
    margin: 3.25rem 0 4.25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;

    #logo {
        // display: block;
        flex-grow: 1;
        height: 15vh;
        width: 15%;
        overflow: hidden;

        img {
            max-height: 100%;
            min-width: 100%;
            object-fit: cover;
            vertical-align: bottom;
        }
    }

    #top-nav-menu {
        display: flex;
        flex-flow: row-reverse;
        align-items: flex-start;
        width: 75%;

        ul {
            display: flex;
            flex-flow: row;

            li {
                display: block;                
                flex-grow: 1;
                margin-left: .125rem;

                a {
                    display: block;
                    font-size: 1.25rem;
                    font-weight: 600;
                    padding: 1rem;
                    padding-right: 1.5rem;
                    color: $link-font-color;
                    background: rgba($color: $link-bg-color, $alpha: .5);
                    transition: all .5s ease;

                    &:hover,
                    &:focus,
                    &:active {
                        color: $link-hover-font-color;
                        background: rgba($color: #ff9988, $alpha: 1.0);
                    }
                }
            }
        }
    }

}

